{% extends 'base.html' %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

<!-- New Password -->
<section id="new-password" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>
                        Set a new password!</h4>
                </div>
                <div class="card-body">
                    {% if validlink %}
                        <form method="POST">
                            {% csrf_token %}
                            <!-- Form from Django -->
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-secondary btn-block" value="Change my password">
                        </form>

                        {% else %}

                        <!-- If invalid password link -->
                        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}